# Exploration, Cleaning

In [1]:
import pandas as pd
import numpy as np

In [2]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/buildweek-kickstarter/data_science/master/data/'

In [3]:
import pandas as pd

df = pd.read_csv('kickstarter - Sheet1.csv')

print(df.shape)
df

(999, 13)

             ID  ... usd pledged
0    1000002330  ...           0
1    1000004038  ...         220
2    1000007540  ...           1
3    1000011046  ...        1283
4    1000014025  ...       52375
..          ...  ...         ...
994  1005848496  ...        7235
995  1005862247  ...        5637
996  1005863674  ...          27
997  1005870420  ...           0
998  1005871270  ...         231

[999 rows x 13 columns]

In [4]:
def normalise_row(row):
    if row['state'] == 'successful':
      return 'successful'
    if row['state'] == 'live':
      return 'live'
    else:
      return 'failed'

In [5]:
df['state'] = df.apply(lambda row : normalise_row(row), axis=1)

In [7]:
df['state'].value_counts()

failed        604
successful    377
live           18
Name: state, dtype: int64

In [8]:
df['launched'][0]

'2015-08-11 12:12:28'

In [6]:
liverows = df[df['state'] == 'live'].index
 
# Delete these row indexes from dataFrame
df.drop(liverows , inplace=True)

In [10]:
df

             ID  ... usd pledged
0    1000002330  ...           0
1    1000004038  ...         220
2    1000007540  ...           1
3    1000011046  ...        1283
4    1000014025  ...       52375
..          ...  ...         ...
993  1005843591  ...        1367
995  1005862247  ...        5637
996  1005863674  ...          27
997  1005870420  ...           0
998  1005871270  ...         231

[981 rows x 13 columns]

In [11]:
df['deadline'].dtypes

dtype('O')

In [7]:
# Split train into train & val
from sklearn.model_selection import train_test_split
train, val = train_test_split(df, train_size=0.80, test_size=0.20, 
                              stratify=df['state'], random_state=42)

In [8]:
train

             ID  ... usd pledged
886  1005205097  ...        2845
301  1001560762  ...          50
728  1004112120  ...   47,368.74
72   1000331311  ...        1811
636  1003539829  ...       45155
..          ...  ...         ...
214  1001064677  ...    5,965.50
235  1001181420  ...       10328
476   100264379  ...    1,139.94
192  1000937140  ...           0
502  1002768509  ...         355

[784 rows x 13 columns]

In [9]:
val

             ID  ...  usd pledged
737  1004192678  ...          886
397  1002182970  ...       838.01
33   1000132945  ...        15663
570  1003202814  ...   103,114.50
292  1001516983  ...  434.3548195
..          ...  ...          ...
4    1000014025  ...        52375
34   1000134913  ...           17
17   1000071625  ...         1781
969  1005696636  ...         1525
889  1005217119  ...          900

[197 rows x 13 columns]

In [11]:
# added new features to our data and got rid of duplicates
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectKBest
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV

def wrangle(X):
    """Wrangle train, validate, and test sets in the same way"""
    
 
    # Stop CopyWarning
    X = X.copy()
    
   
    

    # converting date recorderd into int and making new feature
    X['deadline'] = pd.to_datetime(X['deadline'])
    # X['deadline'] = X['deadline'].dt
    # X['deadline'] =X['deadline'].astype(int)

    X['launched'] = pd.to_datetime(X['launched'])
    # X['launched'] = X['launched'].dt
    # X['launched'] =X['launched'].astype(int)

    X['length_of_campaign'] = (X['deadline'] - X['launched']).dt.days   

    return X

In [12]:
train = wrangle(train)
val = wrangle(val)

In [13]:
train

             ID  ... length_of_campaign
886  1005205097  ...                 21
301  1001560762  ...                 30
728  1004112120  ...                 32
72   1000331311  ...                 29
636  1003539829  ...                 32
..          ...  ...                ...
214  1001064677  ...                 40
235  1001181420  ...                 24
476   100264379  ...                 42
192  1000937140  ...                 31
502  1002768509  ...                 10

[784 rows x 14 columns]

In [ ]:
df['state'].value_counts()

In [15]:
# select our target 
target = 'state'

# make train without our target or id
train_features = train.drop(columns=[target])

# make numeric features
numeric_features = train_features.select_dtypes(include='number').columns.tolist()

# make a cardinality feature to help filter
cardinality = train_features.select_dtypes(exclude='number').nunique()

# get a list of relevant categorical data
categorical_features = cardinality[cardinality <=50].index.tolist()

# Combine the lists 
features = numeric_features + categorical_features
print(features)

['ID', 'backers', 'length_of_campaign', 'main_category', 'currency', 'country']

In [ ]:
X_train = train[features]
y_train = train[target]
X_val = val[features]
y_val = val[target]
#X_test = test[features]

In [ ]:
 !pip install category_encoders==2.*

In [16]:
df['goal'].dtypes

dtype('O')

# NLP Model

In [2]:
import pandas as pd

df = pd.read_csv('kickstarter - Sheet1.csv')

print(df.shape)
df

(999, 13)

             ID  ... usd pledged
0    1000002330  ...           0
1    1000004038  ...         220
2    1000007540  ...           1
3    1000011046  ...        1283
4    1000014025  ...       52375
..          ...  ...         ...
994  1005848496  ...        7235
995  1005862247  ...        5637
996  1005863674  ...          27
997  1005870420  ...           0
998  1005871270  ...         231

[999 rows x 13 columns]

In [5]:
df['words'] = df['name'] + df['category']

In [7]:
df['words'] = df['words'] + df['main_category']

In [9]:
sentences = df['words']
y = df['state']

In [18]:
from sklearn.model_selection import train_test_split
sentences_train, sentences_test, y_train, y_test = train_test_split(
    sentences, y, test_size=0.25, random_state=42)

In [13]:
df['category'].value_counts()

Product Design    54
Documentary       50
Music             43
Film & Video      39
Video Games       37
                  ..
Calendars          1
Animals            1
Print              1
Footwear           1
Stationery         1
Name: category, Length: 124, dtype: int64

In [17]:
df['main_category'].unique()

array(['Publishing', 'Film & Video', 'Music', 'Food', 'Design', 'Crafts',
       'Games', 'Comics', 'Fashion', 'Theater', 'Art', 'Photography',
       'Technology', 'Dance', 'Journalism'], dtype=object)

In [16]:
df['category'].unique()

array(['Poetry', 'Narrative Film', 'Music', 'Film & Video', 'Restaurants',
       'Food', 'Drinks', 'Product Design', 'Documentary', 'Nonfiction',
       'Indie Rock', 'Crafts', 'Games', 'Design', 'Comic Books',
       'Art Books', 'Fashion', 'Theater', 'Comics', 'DIY', 'Webseries',
       'Food Trucks', 'Public Art', 'Illustration', 'Photography', 'Pop',
       'Tabletop Games', 'Art', 'Family', 'Fiction', 'Accessories',
       'Rock', 'Hardware', 'Weaving', 'Gadgets', 'Web', 'Jazz',
       'Ready-to-wear', 'Festivals', 'Video Games', 'Anthologies',
       'Publishing', 'Shorts', 'Electronic Music', 'Radio & Podcasts',
       'Apps', 'Cookbooks', 'Apparel', 'Metal', 'Hip-Hop', 'Periodicals',
       'Dance', 'Technology', 'Painting', 'Software', 'World Music',
       'Photobooks', 'Drama', 'Architecture', 'Young Adult',
       'Mobile Games', 'Flight', 'Fine Art', 'Action', 'Playing Cards',
       'Makerspaces', 'Punk', "Children's Books", 'People', 'Ceramics',
       'Fabrication Tools', 'Comedy', 'Performances', 'Sculpture',
       'Animation', 'Sound', 'Stationery', "Farmer's Markets", 'Events',
       'Classical Music', 'Graphic Design', 'Spaces', 'Country & Folk',
       'Mixed Media', 'Journalism', 'Movie Theaters', 'Animals',
       'Digital Art', 'Performance Art', 'Installations',
       'Community Gardens', 'DIY Electronics', 'Embroidery',
       'Camera Equipment', 'Farms', 'Conceptual Art', 'Fantasy',
       'Webcomics', 'Experimental', 'Puzzles', 'R&B', 'Print',
       'Music Videos', 'Calendars', 'Vegan', 'Video', 'Plays', 'Blues',
       'Bacon', 'Faith', 'Horror', 'Science Fiction', 'Jewelry',
       'Live Games', 'Small Batch', 'Woodworking', 'Places',
       'Graphic Novels', 'Footwear', '3D Printing', 'Academic',
       'Thrillers', 'Wearables', 'Musical'], dtype=object)

In [20]:
# Import the tf-idf vectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

# Instantiate and fit the tf-idf vectorizer
vectorizer = TfidfVectorizer(stop_words='english', ngram_range = (2,2))
vectorizer.fit(sentences_train)

# Vectorize the training and testing data
X_train = vectorizer.transform(sentences_train)
X_test  = vectorizer.transform(sentences_test)

# Display the properties of the vectorized text
X_train

<749x2760 sparse matrix of type '<class 'numpy.float64'>'
	with 2933 stored elements in Compressed Sparse Row format>

In [23]:
# Import the classifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

# Instantiate and fit a model
classifier = RandomForestClassifier()

classifier.fit(X_train, y_train)
score = classifier.score(X_test, y_test)

print("Accuracy:", score)

Accuracy: 0.54

In [22]:
from sklearn.pipeline import Pipeline

# Define the Pipeline
pipe = Pipeline([('vect', vectorizer), # vectorizer
                 ('clf', classifier) # classifier
                ])

# Define the parameter space for the grid serach
parameters = {'max_depth': [1, 10, 1000000]} 


# Implement a grid search with cross-validation
from sklearn.model_selection import GridSearchCV

grid_search = GridSearchCV(pipe, parameters, cv=5, n_jobs=-1, verbose=1)
grid_search.fit(sentences, y);

# Print out the best score
grid_search.best_score_

Fitting 5 folds for each of 3 candidates, totalling 15 fits

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:667: UserWarning: The least populated class in y has only 3 members, which is less than n_splits=5.
  % (min_groups, self.n_splits)), UserWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  15 out of  15 | elapsed:    4.4s finished
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

0.5375276381909548